// Colors

//$off-black: #20222b;
$off-black: #7E8F7C;
//$off-white: #a5afd7;
$off-white: #DFE2DB;
//$light-blue: #464b5e;
$light-blue: #7E8F7C;

//$navy: #3c4251;
$navy: #404040;
//$dark-blue: #333745;
$dark-blue: #DFE2DB;
//$purple: #8357c5;
$purple: #74AFAD;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
